.navbar-vertical {
  font-family: 'Montserrat', Arial, sans-serif;
  height: 100vh;
  width: 350px;  
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #222;
  padding: 25px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-logo {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.navbar-links-vertical {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.navbar-links-vertical li {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

.navbar-links-vertical li a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 12px;
  align-items: center;
}

.navbar-links-vertical li.active {
  font-weight: 1000;
}

.navbar-links-vertical li:hover {
  color: #d3d3d3;
}

.message-badge {
  background: #ff3150;
  color: #fff;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: .85rem;
  font-weight: 700;
  position: relative;
  left: 8px;
}
