
.messages-page {
  height: 100%;
  display: flex;
  background: #000;
  color: #fff;
}


.empty-messages {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

.empty-messages h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.empty-messages p {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.empty-messages button {
  background: #262626;
  color: #fff;
  border: 1px solid #444;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.empty-messages button:hover {
  background: #363636;
}

/* CHAT LAYOUT */
.chat-container {
  display: flex;
  width: 100%;
}

/* LEFT SIDEBAR */
.chat-list {
  width: 280px;
  border-right: 1px solid #222;
  background: #000;
}

.chat-item {
  padding: 14px;
  cursor: pointer;
  border-bottom: 1px solid #111;
}

.chat-item:hover {
  background: #111;
}

.chat-item.active {
  background: #1a1a1a;
}

/* CHAT WINDOW */
.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.chat-header {
  padding: 16px;
  border-bottom: 1px solid #222;
  font-weight: 600;
}

/* MESSAGES */
.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 12px;
  background: #262626;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 12px;
  border-top: 1px solid #222;
}

.chat-input input {
  flex: 1;
  background: #111;
  border: 1px solid #333;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  background: #0095f6;
  border: none;
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.chat-input button:hover {
  background: #1877f2;
}
