.stories-row {
  display: flex;
  gap: 45px;
  padding: 20px 10px 20px 10px;
  align-items: center;
  overflow-x: auto;
  background: transparent;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 7px solid #d6007f;  
  object-fit: cover;
  background: #333;            
  margin-bottom: 5px;
  display: block;
}
.story-username {
  font-size: 0.92rem;
  color: #fff;
  margin-top: 1px;
}

.story-img:hover {
  box-shadow: 0 0 0 2Spx #d6007f90;
}